:root {
  --sizeVar: 2vw;
  --animVar: 200ms;
}

body {
  background-color: #666666;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.flex {
  position: absolute;
  display: flex;
  background-color: #141615;
  padding: calc(var(--sizeVar) * 2.5);
  border-radius: calc(var(--sizeVar) * 1);
  box-shadow: 0 calc(var(--sizeVar) * 1) calc(var(--sizeVar) * 0.5)
      calc(var(--sizeVar) * -1) #ffffff99 inset,
    0 calc(var(--sizeVar) * 0.25) calc(var(--sizeVar) * 0.5)
      calc(var(--sizeVar) * 0.2) #00000055,
    0 calc(var(--sizeVar) * 0.5) calc(var(--sizeVar) * 2.5)
      calc(var(--sizeVar) * 0.2) #00000055;
  justify-content: center;
  align-items: center;
  gap: var(--sizeVar);
}

.key {
  width: calc(var(--sizeVar) * 5.6);
  aspect-ratio: 1 / 1;
  background: rgb(33, 33, 35);
  background: linear-gradient(
    0deg,
    rgba(33, 33, 35, 1) 0%,
    rgba(53, 53, 53, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: calc(var(--sizeVar) * 0.5);
  font-size: calc(var(--sizeVar) * 2.5);
  font-family: sans-serif;
  font-weight: 300;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 calc(var(--sizeVar) * 1) calc(var(--sizeVar) * 1)
      calc(var(--sizeVar) * -1) #ffffff55 inset,
    0 calc(var(--sizeVar) * -1) calc(var(--sizeVar) * 0.5)
      calc(var(--sizeVar) * -1) #ffffff33 inset,
    0 0 calc(var(--sizeVar) * 0.5) calc(var(--sizeVar) * 0.2) #00000055;
  position: relative;
  overflow: hidden;
}

.key:hover {
  border: 2px solid;
}

.key-link:nth-child(1) .key:hover {
  border-color: #833ab4; /* Instagram - Violet */
}

.key-link:nth-child(2) .key:hover {
  border-color: #0077b5; /* LinkedIn - Blue */
}

.key-link:nth-child(3) .key:hover {
  border-color: #28a745; /* GitHub - Green */
}

.key-link:nth-child(4) .key:hover {
  border-color: #fffc00; /* Snapchat - Yellow */
}

.key-link:nth-child(5) .key:hover {
  border-color: #ffa500; /* X - Orange */
}

.key-link:nth-child(6) .key:hover {
  border-color: #fe2c55; /* TikTok - Red */
}

.key .qr {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.key:hover .qr {
  display: block;
}

.key:hover {
  filter: brightness(90%);
  color: transparent;
  background: #000000 !important;
  box-shadow: 0 calc(var(--sizeVar) * 1) calc(var(--sizeVar) * 1)
      calc(var(--sizeVar) * -1) #ffffff00 inset,
    0 calc(var(--sizeVar) * -1) calc(var(--sizeVar) * 0.5)
      calc(var(--sizeVar) * -1) #ffffff00 inset,
    0 0 calc(var(--sizeVar) * 0.5) calc(var(--sizeVar) * 0.2) #00000055;
  cursor: none;
}

.key-link {
  text-decoration: none;
}
